@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  font-family: 'Poppins',sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 30px;
  background-color: #02080b;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(211, 185, 185, 0.1); 
}



.glassStyle{
  background: rgba(73, 37, 205, 0.25);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
border: 1px solid rgba(73, 37, 205, 0.19);

}

.css-16sxbi8-MuiTableCell-root{
  text-align: center;
}

.css-1q1u3t4-MuiTableRow-root{
  background-color: #0b0909 !important;
 
}
.css-1ex1afd-MuiTableCell-root{
  color: whitesmoke !important;
}

.css-y8ay40-MuiTableCell-root {
  background-color: #151718 !important;
  color: white !important;

}

.css-g1cfh7-MuiPaper-root{
  background-color: black !important;
}
.css-41abqd-MuiTableContainer-root{
  border-radius: 13px !important;
}

.css-1ex1afd-MuiTableCell-root{
  border-bottom: 0px !important;
}

::-webkit-scrollbar {
  width: 5px; 
  
  border-radius: 10px;  
  background-color: black;
}

::-webkit-scrollbar-track {
  background-color: black; 
}

::-webkit-scrollbar-thumb {
  background-color: #4925cd;   
  border-radius: 20px;     
}
::-webkit-scrollbar-corner {
  background-color: black; 
}




.table{
  background-color: black;
  margin-left: 110px;
  margin-right: 150px;
  margin-top: 30px;
}

.module{
  color:white;
  margin:20px;
  margin-left:60px;
  margin-top:30px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-right:120px;
}
@media screen and (max-width: 660px) {
  .table{
    margin-left: 40px;
    margin-right: 40px;
  }
  .module{
    margin-left: 30px;
    margin-right: 30px;
  }
}

